**/.DS_Store

data/forcing
data/ini
data/transport
data/geometry
data/check_data.sh
data/from_spk

model/UVOK/uvic/Kiel_Jan_2017_updates_to_UVIC2.9.tar.gz
model/UVOK/uvic/Kiel_Jan_2017_updates_to_UVIC2.9/
model/UVOK/uvic/UVic2.9/
model/UVOK/**/*.o

test/petsc
test/Makefile
test/control.in
test/data
test/metos3d-simpack-UVOK.exe
test/model
test/simpack
test/work




#model/UVOK/uvic
#material/
#**/*.petsc
#**/*.tar
#**/*.tar.gz
#**/uvic
#**/*.o
#model/UVOK/uvic/*.[ohFf]
#/petsc-3.10.4/
#test/petsc/petsc-lite-3.10.4.tar.gz
