**/.DS_Store

data/forcing
data/ini
data/transport
data/geometry
data/check_data.sh
data/from_spk

model/UVOK/*.o
model/UVOK/uvic

test/petsc/petsc-3.10.4/
test/petsc/petsc-lite-3.10.4.tar.gz


test/Makefile
test/control.in
test/data
test/metos3d-simpack-UVOK.exe
test/model
test/simpack
test/work





#material/
#**/*.petsc
#**/*.tar
#**/*.tar.gz

#**/uvic
#**/*.o
