**/.DS_Store

data/forcing
data/ini
data/transport
data/geometry
data/check_data.sh
data/from_spk

model/UVOK/*.o
model/UVOK/uvic







#material/
#**/*.petsc
#**/*.tar
#**/*.tar.gz

#**/uvic
#**/*.o
